/*! Place your custom styles here */

.nav-item-custom {
    font-size: 1.257142857142857em;
    line-height: 2.166666666666667em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.btn--primary, li.active>.accordion__title {
    background: #2979ff !important;
    border: none !important;
}

.head-title {
    font-weight: 700;
}

.lead {
    color: #102027 !important;
}

.icon-three {
    width: 20%;
}

.icon-three-2 {
    width: 55%;
}

body {
    color: #212529 !important;
}

.demonstration {
    padding-top: 5%;
}

.demo-box {
    text-align: left;
}

p:not(.lead) {
    font-size: 1.1em !important;
}

.feature-4 p:last-of-type {
    margin-bottom: 0px !important;
}

.scroll-link {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.member-action {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    background: linear-gradient(to right, #3023AE 0%, #664BF1 100%) !important;
}